<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_l1_dashboard_root"
              name="L1 Dashboard"
              web_icon="l1_dashboard,static/description/icon.png"
              sequence="90"/>
              
    <!-- Dashboard Menu -->
    <!-- <menuitem id="menu_l1_dashboard"
              name="Dashboard"
              parent="menu_l1_dashboard_root"
              action="action_l1_dashboard_client"
              sequence="1"/> -->
              
    <!-- Dashboard Configuration Menu -->
    <!-- <menuitem id="menu_l1_dashboard_config"
              name="Configuration"
              parent="menu_l1_dashboard_root"
              sequence="99"/> -->
              
    <!-- Dashboard Settings Menu -->
    <menuitem id="menu_l1_dashboard_settings"
              name="Dashboard Settings"
              parent="menu_l1_dashboard_root"
              action="action_l1_dashboard"
              sequence="1"/>
</odoo>