<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_l1_dashboard_root"
              name="DrukSmart Dashboard"
              web_icon="l1_dashboard,static/description/icon.png"
              action="action_l1_dashboard"
              sequence="90"/>

    <!-- Sale Target Menu -->
    <menuitem id="menu_l1_sale_target"
              name="Sales Targets"
              parent="menu_l1_dashboard_root"
              action="action_sale_target"
              groups="base.group_system"
              sequence="10"/>

    <!-- L4 Menu Test -->
    <menuitem id="menu_l4_dashboard_test"
              name="Project Information"
              parent="menu_l1_dashboard_root"
              action="action_l4_dashboard"
              sequence="11"/>

    <!-- Dashboard Reports Menu -->
    <menuitem id="druksmart_dashboard_reports_menu"
              name="Reports"
              parent="menu_l1_dashboard_root"
              action="action_druksmart_dashboard_report"
              sequence="12"/>
</odoo>
