.dashboard-form {
    @media (min-width: 1200px) {
        .o_form_view .o_form_sheet_bg>.o_form_sheet {
            max-width: 95%;
        }
    }

    @media (min-width: 576px) {
        .o_form_view .oe_title {
            max-width: unset;
        }
    }

    rect:hover {
        fill: #fff !important;
    }

    .highcharts-background {
        fill: #fff;
    }

    .highcharts-credits {
        display: none;
    }

    .bg-green {
        background-color: rgb(27, 240, 27);
    }

    .bg-yellow {
        color: #444444;
        background: #FFFFFF;
        font-size: 3rem !important;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }


    .o_form_view .oe_title>h1,
    .o_form_view .oe_title>.h1 {
        min-height: unset !important;
    }

    .dashboard-container {
        .cards {
            width: 30%;

            .card {
                min-width: 220px;
                // border: 1px solid gray;
                -webkit-box-shadow: 5px 8px 8px 0px rgba(34, 60, 80, 0.18);
                -moz-box-shadow: 5px 8px 8px 0px rgba(34, 60, 80, 0.18);
                box-shadow: 5px 8px 8px 0px rgba(34, 60, 80, 0.18);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                overflow: hidden;

                p {
                    margin-bottom: 0 !important;
                    color: black;
                    padding: 0 4px 2px 4px;
                    font-size: 15px;
                }

                h3 {
                    text-align: center;
                    width: 100%;
                    padding: 2px 4px;
                }
            }
        }

        .graphs {
            width: 70%;
            padding: 4px;
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;

            .graph-container {
                min-width: 400px;
                flex: 1;
                // border: 1px solid #bbb9b9;
                overflow: hidden;
                background-color: #fff;
                border-radius: 16px;
                -webkit-box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);
                -moz-box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);
                box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);

                .graph_text {
                    display: inline-block;
                    // padding: 4px 16px;
                    // border-radius: 50vw;
                    font-size: 16px;
                    font-weight: 500;
                    color: white;
                    width: 100%;
                    padding: 16px;
                    border-radius: 10px 10px 0 0;
                }

                .graph {
                    height: 400px;
                    // border: 1px solid #9b9b9b;
                    background-color: #fff;
                }
            }
        }
    }

    .dashboard-hr {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-wrap: wrap;

        .hr-card {
            min-width: 400px;
            flex: 1;
            overflow: hidden;
            background-color: #fff;
            border-radius: 16px;
            -webkit-box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);
            -moz-box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);
            box-shadow: 5px 8px 44px -5px rgba(34, 60, 80, 0.18);

            .graph_text {
                display: inline-block;
                // padding: 4px 16px;
                // border-radius: 50vw;
                font-size: 16px;
                font-weight: 500;
                color: white;
                width: 100%;
                padding: 16px;
                border-radius: 10px 10px 0 0;
            }

            .hr-graph {
                height: 400px;
            }
        }
    }

    .highcharts-color-0 {
        fill: #1e88e5 !important;
        stroke: #1e88e5 !important;
    }

    .highcharts-color-1 {
        fill: #ff8f00 !important;
        stroke: #ff8f00 !important;
    }
}

.hr_title {
    margin: 0 auto;
}
